:root{
    --main:rgb(241, 65, 183); 
    --accent:rgb(192, 192, 192);
    --base:rgb(255, 255, 255);
    --gray:f5f5f5; /* 変数でカラーの指定*/
    --black:rgb(0, 0, 0);
}
*,*::before,*::after{
    box-sizing: border-box;
} /*横幅などのサイズ調整のためいれる*/
body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
   /*color: rgb(133, 122, 122);*/
}
section{
    padding: clamp(60px,10vw,120px) 5vw;
} /*パディングの上下を可変60～120の間に、左右は5vwで固定*/
h2, h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1.8rem,5vw);
}
#header{
    background-image: url(/images/header_2.jpg);
    padding: 22vh 5vw;
    background-size:  cover; /*100%画像の大きさを画面いっぱいに */
    background-repeat: no-repeat; /*画像を繰り返さない*/
    color: var(--base); /*文字の色を変数で指定*/
    text-align: center;/*中央寄せ*/
}
.page-nav{
    position:fixed;
    top: 0;
    left: 0; /*ナビの場所を左上に指定*/
    background-color: rgba(255,255,255,0.5);  /*白いヘッダーが透ける#ffffffee or 　rgba(255,255,255,0.8)でも透ける*/
    width: 100%;
    backdrop-filter: blur(6px);
}
.page-nav ul{
    display: flex; /*項目を横並びに*/
    justify-content: center; /*中央寄せ*/
    gap: 1.2rem; /*項目同士の余白を設定*/
    list-style: none;
    padding-left: 0;
}
.page-nav ul a{
    color: #333;
    text-decoration: none;
    font-weight: 600; /*中央寄せフォントを太く*/
    padding: 0.3rem 0.8rem; /*項目ごとの余白をおおきく*/
    border-radius: 6px; /*マウスを乗せたときの色の四角が角丸になる*/
    transition: background-color 0.3s; /*カーソルを乗せたとき0.3秒かけて背景色がつく*/
}
.page-nav ul a:hover{
    background-color: rgba(250, 250, 250, 0.8); /*カーソルを乗せたとき色がつく*/
}
.com-wrapper{
    width: 100%; /* 全体の横幅を親要素の100%にする */
    margin: 0 auto; /* 左右の余白を自動にして中央に配置 */
    display: flex; /* 画像を横並びにする */
}
:nth-of-type(even){ /* 2番目、4番目の偶数の要素を左右を逆にする */
    flex-direction: row-reverse; 
}
.com1, .com2{
    width: 50%; /*文、画像をぞれぞれ50%の比率にする */
    display: flex; /*要素を横並びにする*/
    align-items: center; /*縦方向に中央揃え*/
}
.com1{
    background: #f349b2;
    padding: 60px;
    box-sizing : border-box;
}
.com-wrapper:nth-of-type(2n) .com1:nth-of-type(1){ 
    background: #6f6ed1;  /* 2番目だけ紫色にする */
}
.com1txt{
    color: #e9e8ff;
    font-size: 25px;
}
.com2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and ( max-width:500px) /*メディアクエリ*/
{
    .com-wrapper{
        width: 100%; /* スマホでは横幅いっぱいにする */
        flex-direction: column-reverse;
    }
    .com1, .com2{
        width: 100%;
    }
    .com1{
        padding: 25px; /* スマホでは余白を小さくする */
    }
}
#sample {
    text-align: center;
}
#sample .float-box{
    width: 100%;
    margin: 0 auto;
    display: flex; /* 横並びにして下の記述で画像を中央に */
    flex-direction: column;
    align-items: center; /* 縦方向の中央に揃える */
    justify-content: center; /* 横方向の中央に揃える */
    gap: 30px; /*画像と画像の幅をあける*/
}
#sample .float-box img{
        width: auto; /* 縦横比を維持する*/
        max-width: 60%; /* 画像が横幅50%を超えないようにする */
        height: auto; /* 縦横比を維持する */
}
#ec{
    text-align: center;/*中央寄せ*/
}
#ec .ec-list{
    display: flex; 
    flex-wrap: wrap; 
    gap: 1.5rem; 
    justify-content: center; 

}
.ec{
    flex: 1 1 calc(33.333% -1rem);
    background-color: var(--base);
    border-radius:  12px; /*角丸*/
    overflow: hidden; /*はみ出したら隠す*/
    text-align: center;
    min-width: 260px; /*最低でも260px以下にならないようにするサイトの表示を小さくしたときなど*/
    max-width: 100%;
}
footer{
    background-color: rgb(241, 65, 183,0.5);
    text-align: center;
    padding: 2rem 5vw;
    font-size: 0.8rem;
    color: var(--black);
}